.nav-menu-item {
  font-family: 'Roboto Condensed';
  cursor: pointer;
}

.nav-menu-item-selected {
  font-weight: bold;
}

.blue-font { color: #2C8FDB }

.yellow-font { color: #E8B00C }

.pink-font { color: #D53AE8 }